@using SharedCode
@model Advieskeuze.Data.Domain.ViewModel.Home.HomeFront

@{
  var cdn = GewrapteSettings.CDNUrl;
}

<div class="homevisual zoekvisualadvocatuur">
  <div class="grid pt1">
    <div class="grid-cell33 mb2 mt2">
      <h1 class="mb1 blue-text">Zoek een zakelijke adviseur:</h1>
      @using (Html.BeginForm()) {
        @Html.TextBox("locatie", null, new { @placeholder = "vul een postcode of plaats in", @class = "input100" })
        <div>&nbsp;</div>
        @Html.DropDownListFor(m => m.HomeProductgroep, Model.ZakelijkeProductgroepenLijst, new { @class = "input100" })
        <div class="fr mt1">
          <input type="submit" class="" value="Zoek" />
        </div>
        <div class="clear"></div>
      }
    </div>
  </div>
</div>

@foreach (var pg in Model.ZakelijkeProductgroepen) {
  <div class="grid">
    <div class="grid-cell100">
      <h2>@pg.Naam</h2>
      <p>@pg.HomeTekstZoek</p>
      @Html.RouteLink("Bekijk", AdvieskeuzeRoutes.ProductgroepHome(pg), new { @class = "base-button button-solid-blue" })
      <div class="clear"></div>
    </div>
  </div>
}
