@using System.Text.RegularExpressions
@using SharedCode
@{
  string cdn = GewrapteSettings.CDNUrl;
}
@model Advieskeuze.Models.BlogIndexModel

<div class="homevisual blogvisual">
  <div class="grid pt1">
    <div class="grid-cell33 mb2 mt2">
      <h2 class="mb1">Vind een blog</h2>
      @using (Html.BeginForm()) {
        @Html.TextBox("Zoektermen", null, new { @placeholder = "Typ een onderwerp", @class = "input100" })
        <input type="submit" value="Zoek" class="fr mt1 button-solid-green" />
      }
    </div>
  </div>
</div>

<div class="grid">
  <div class="grid-cell100">
    <div class="fr">@Html.RouteLink("Bekijk alle blogs", AdvieskeuzeRoutes.BlogsOverzicht(null, null))</div>
    <h1>Blogs op Advieskeuze.nl</h1>
  </div>
</div>

<div class="grid">
  <div class="grid-cell33">
    @Html.RouteLink("Huis kopen & verhuizen", AdvieskeuzeRoutes.Blogcategorie("huis-kopen-en-verhuizen"), new { @class = "base-button button-solid-blue w100p" })
    @Html.RouteLink("Notaris", AdvieskeuzeRoutes.Blogcategorie("notaris"), new { @class = "base-button button-solid-blue w100p mt1" })
  </div>
  <div class="grid-cell33">
    @Html.RouteLink("Geld & verzekering", AdvieskeuzeRoutes.Blogcategorie("geld-en-verzekering"), new { @class = "base-button button-solid-blue w100p" })
    @Html.RouteLink("Uitvaart", AdvieskeuzeRoutes.Blogcategorie("uitvaart"), new { @class = "base-button button-solid-blue w100p mt1" })
  </div>
  <div class="grid-cell33">
    @Html.RouteLink("Scheiding", AdvieskeuzeRoutes.Blogcategorie("scheiding"), new { @class = "base-button button-solid-blue w100p" })
    @Html.RouteLink("Pensioen", AdvieskeuzeRoutes.Blogcategorie("pensioen"), new { @class = "base-button button-solid-blue w100p mt1" })
  </div>
</div>

<div class="grid">
  @foreach (var blog in Model.Blogs) {
    <div class="grid-cell33">
      <img src="@cdn/content/flat/images/Blogimages/@(blog.Afbeelding)_thumb.jpg" />
      <h2>@blog.Titel</h2>
      <p>@Regex.Replace(blog.Tekst.Substring(0, 130), @"\[(.*?)\]", String.Empty, RegexOptions.IgnoreCase)...</p>
      <p>Geschreven door @blog.Auteur</p>
      @Html.RouteLink("Lees verder", AdvieskeuzeRoutes.BlogLezen(blog.Slug), new { @class = "base-button button-solid-blue fr" })
      <div class="clear"></div>
    </div>
  }
</div>
