@using Advieskeuze.Data.Domain.ViewModel.Banner
@using SharedCode
@model BannerModelLocatie

@{
  Layout = "~/Views/Shared/_Banner.cshtml";
  var advieskeuzeLogo = GewrapteSettings.CDNUrl + "/content/base/images/advieskeuze_lr.png";
  var afbeelding = Model.BannerSettings.PropertyContainer.LogoIPVFoto ? Model.KantoorUitgebreid.Logo : Model.KantoorUitgebreid.Foto;
  var breedte = Model.BannerSettings.PropertyContainer.CustomBreedte > 0 ? Model.BannerSettings.PropertyContainer.CustomBreedte : Model.BannerSettings.PropertyContainer.HuidigeAfmeting.Width;
  var margin = (int)(0.09 * breedte);
  var beoordeelPagina = AdvieskeuzeRoutes.ToAbsoluteUrl(Model.ProductgroepLink != null ? AdvieskeuzeRoutes.Beoordeling(Model.ProductgroepLink, Model.KantoorLink, null, null, false) : AdvieskeuzeRoutes.Beoordeling(Model.KantoorLink));
}

<div class="cursorLink" style="width: @(breedte)px; background-color: white;">
  @if (Model.BannerSettings.VoorbeeldModus) {
  <div id="banner-no-access">Let op! Ongeldig</div>
  }
  <a href="@beoordeelPagina" target="_blank">
    <div class="center" style="margin-top: @(margin)px; margin-bottom: -@(margin /2)px;">
      @Html.Image(afbeelding, "Beoordeel " + Model.Kantoor.Naam, "Afbeelding van " + Model.Kantoor.Naam, breedte - margin * 2, Model.BannerSettings.PropertyContainer.HuidigeAfmeting.Height, false)
    </div>
  </a>
  <div style="width: @(breedte - margin * 2)px; margin-left: @(margin)px; @(Model.BannerSettings.PropertyContainer.HuidigeAfmetingIndex == 0 ? "" : "; font-size:xx-small")">
    <a href="@beoordeelPagina" target="_blank" class="base-button button-solid-blue w100p mt1 mb1" style="@(Model.BannerSettings.PropertyContainer.HuidigeAfmetingIndex == 0 ? "" : "; padding:0.4em 2em 0.4em 0.5em !important;")">Beoordeel ons</a>
  </div>
  <img src="@advieskeuzeLogo" alt="Advieskeuze.nl" title="Advieskeuze.nl" width="@(breedte - margin * 2)" style="margin-left:@(margin)px" />
</div>