@using Advieskeuze.Data.Domain.ViewModel.Banner
@using SharedCode
@model BannerModelCompany

@{
  Layout = "~/Views/Shared/_Banner.cshtml";
  var cdn = GewrapteSettings.CDNUrl;
  var pagina = AdvieskeuzeRoutes.ToAbsoluteUrl(AdvieskeuzeRoutes.OverKeten(Model.Company.Slug));
  var logo = cdn + "/content/base/images/advieskeuze_lr.png";
  var w = Model.BannerSettings.PropertyContainer.CustomBreedte > 0 ? Model.BannerSettings.PropertyContainer.CustomBreedte : Model.BannerSettings.PropertyContainer.HuidigeAfmeting.Width;
  var width = w < 167 ? w - 20 : 167;
}

<div style="width: @(w)px; background-color: white;">
  <div class="cursorLink center relative" id="goToLink">
    <a href="@pagina" target="_blank"><img src="@logo" alt="Advieskeuze.nl" title="Advieskeuze.nl" width="@width"/></a>
    @if (Model.BannerSettings.VoorbeeldModus) {
  <div id="banner-no-access">Let op! Ongeldig</div>
    }
    @if (!Model.Score.HeeftScore) {
      <div>Geen score beschikbaar</div>
    } else {
      <div class="center mt1">
        <div class="scoreLarge"><span>@Model.Score.WaardeDisplay</span></div>
        <div class="clear"></div>
        <div class="inlineBlock">@Html.ScoreDetailsBar(Model.Score.Waarde)</div>
      </div>
    }
    <div class="clear"></div>
  </div>
</div>

<script>
  document.getElementById("goToLink").onclick = function () { window.open('@pagina', '_blank'); };
</script>